[Unit]
Description=start server.js
After=network.target

[Service]
Environment=NODE_PORT=4201
User=vagrant
WorkingDirectory=/home/vagrant/prod/deploy
ExecStart=/usr/bin/node /home/vagrant/prod/deploy/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
